@model IEnumerable<MedHub.Models.Quiz>

@{
    ViewData["Title"] = "Опросы";
}

<h1>Опросы</h1>
@if (User.Identity.IsAuthenticated)
{
<p>
    <a asp-action="Create">Добавить новый</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            @if(User.Identity.IsAuthenticated)
            { 
            <th>
                Доступность
            </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.Visibility || User.Identity.IsAuthenticated)
            {
            <td>
                <a asp-action="Open" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            @if (User.Identity.IsAuthenticated)
            {
            <td>
                @Html.DisplayFor(modelItem => item.Visibility)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
            }
            }
        </tr>
}
    </tbody>
</table>
